<% include partials/head %>

  <body>
    <div class="ui inverted vertical masthead center aligned segment" style="background-image: url('/images/background.jpg'); background-size: cover">

      <div class="ui container">
        <div class="ui large secondary inverted menu">

          <a class="active item" href="/">Home</a>

          <div class="right item">
            <a class="ui inverted button" href="/login">Log in</a>
            <a class="ui inverted button" href="/signup">Sign Up</a>
          </div>
        </div>
      </div>

      <div class="ui text container">
        <h1 class="ui inverted header">
          Enter Slack
        </h1>
        <h2>Take you slack community public</h2>
        <a class="ui huge primary button" href='/signup'>Get Started <i class="right arrow icon"></i></a>
      </div>

    </div>

    <div class="ui vertical quote">
      <div class="ui equal width stackable internally celled grid container">
        <div class="center aligned row">
          <div class="column">
            <h1><i class="setting icon"></i></h1>
            <h3>Simple setup</h3>
            <p>In 3 minutes you have an webpage running that registers new slackers in your community</p>
          </div>
          <div class="column">
            <h1><i class="cloud icon"></i></h1>
            <h3>Reliable performance</h3>
            <p>We have a 99.9รท uptime which is other many times hirer than a selfhosted version</p>
          </div>

          <div class="column">
            <h1><i class="percent icon"></i></h1>
            <h3>High conversion</h3>
            <p>
              We know which templates work, to make sure as many people register and contribute to your community
            </p>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
