<% include partials/head %>

  <body>
    <div class="ui vertical masthead center aligned segment">

      <div class="ui container">
        <div class="ui large secondary menu">

          <a class="header item" href="/">EnterSlack</a>

          <a class="item" href="/integration">Integration</a>

          <div class="right item">
            <a class="ui button" href="/login">Log in</a>
            &nbsp;
            <a class="ui button" href="/signup">Sign Up</a>
          </div>
        </div>
      </div>

      <div class="ui text container">

        <h1 class="ui header">
          Setup in 3 simple steps
        </h1>
      </div>


    </div>

    <div class="ui vertical segment stripe quote">
      <div class="ui equal width internally celled grid container">
        <div class="center aligned row">
          <div class="column">
            <h1><i class="setting icon"></i></h1>
            <h3 class="margin-less">Create an account</h3>
            <p>In 3 minutes you have an webpage running that registers new slackers in your community</p>
            <a class="ui huge button" href='/signup'>Get Started <i class="right arrow icon"></i></a>

          </div>
          <div class="column">
            <h1><i class="cloud icon"></i></h1>
            <h3 class="margin-less">Add your API token</h3>
            <p>We have a 99.9รท uptime which is other many times hirer than a selfhosted version</p>
          </div>

          <div class="column">
            <h1><i class="percent icon"></i></h1>
            <h3 class="margin-less">Choose your integration</h3>
            <p>
              We know which templates work, to make sure as many people register and contribute to your community
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="ui stripe theming vertical segment" style="padding: 100px 0">
      <div class="ui stackable very relaxed two column grid container">
        <div class="center aligned column">
          <h1 class="ui icon header">
            Create an account
          </h1>
          <p>We are hardcore slack users and have our own small community, for everyone interested in creating a great slack community.</p>

        </div>
        <div class="left aligned column">
          haii

        </div>
      </div>
    </div>

    <div class="ui stripe theming vertical segment" style="padding: 100px 0">
      <div class="ui stackable very relaxed two column grid container">
        <div class="left aligned column">
          hello

        </div>
        <div class="center aligned column">
          <h1 class="ui icon header">
            Get your API token
          </h1>
          <p>We are hardcore slack users and have our own small community, for everyone interested in creating a great slack community.</p>

        </div>
        <pre><code class="bash">

      #!/bin/bash

      # test
      echo 'hello there'
    </code></pre>
      </div>
    </div>

    <div class="ui stripe theming vertical segment" style="padding: 100px 0">
      <div class="ui stackable very relaxed two column grid container">
        <div class="center aligned column">
          <h1 class="ui icon header">
            Join EnterSlack's slack
          </h1>
          <p>We are hardcore slack users and have our own small community, for everyone interested in creating a great slack community.</p>

        </div>
        <div class="left aligned column">
          <div class="ui grid">
            <div class="sixteen wide column"><h3>Supported intergrations</h3></div>
            <div class="eight wide column">Link with URL: </div>
            <div class="eight wide column"><a class="ui tiny button" href="http://enterslack.enterslack.com">
              Join EnterSlack's slack
            </a></div>
            <div class="eight wide column">Javascript badge: </div>
            <div class="eight wide column"><script async defer src="http://enterslack.enterslack.com/slackin.js"></script></div>
            <div class="eight wide column">SVG badge: </div>
            <div class="eight wide column"><a href="http://enterslack.enterslack.com"><img src="http://enterslack.enterslack.com/badge.svg"></a></div>
            <pre><code class="bash">

              #!/bin/bash

              # test
              echo 'hello there'
              <a href="http://enterslack.enterslack.com"><img src="http://enterslack.enterslack.com/badge.svg"></a>
            </code></pre>
          </div>

        </div>
      </div>
    </div>
    <!-- <div class="ui stripe theming vertical segment" style="padding: 100px 0">
      <div class="ui stackable very relaxed two column grid container">
    <div class="ui middle aligned selection list">
      <div class="item">
        <div class="content">
          <div class="header">What can you expect?</div>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <div class="header">Free</div>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <div class="header">Great templates for higher conversion</div>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <div class="header">Use your own domain</div>
        </div>
      </div>
    </div>
  </div> -->
</div>
  </body>
</html>
