<% include partials/head %>

  <body>
    <div class="ui  vertical masthead center aligned segment">
      <div class="ui container">
        <div class="ui large secondary pointing menu">
          <a class="active item" href="/">Home</a>

          <div class="right item">
            <a class="ui button" href="/login">Log in</a>
            &nbsp;
            <a class="ui button" href="/signup">Sign Up</a>
          </div>
        </div>
      </div>
    </div>

    <div class="ui vertical stripe segment">
      <div class="ui text container">
        <h2 class="ui header">Signup</h2>
        <form class="ui form" action="/signup" method='post'>
          <div class="field">
            <div class="ui huge right labeled input">
              <input type="text" name="email" placeholder="E-mail address">
              <div class="ui corner label">
                <i class="asterisk icon"></i>
              </div>
            </div>
          </div>

          <div class="field">
            <div class="ui huge input corner labeled">
              <input type="password" name="password" placeholder="Password">
              <div class="ui corner label">
                <i class="asterisk icon"></i>
              </div>
            </div>
          </div>

          <input type="submit" class="ui fluid large teal submit button" value="Signup" />
        </form>
      </div>
    </div>
  </body>
</html>
