<% include ../partials/head %>

  <body>
      <div class="ui  vertical masthead center aligned segment">
        <div class="ui container">
          <div class="ui large secondary pointing menu">

            <a class="header item" href="/">EnterSlack</a>

            <a class="active item" href="/communities">Communities</a>

            <div class="right item">
              <a class="ui button" href="/logout">Log out</a>
            </div>
          </div>
        </div>
      </div>

      <div class="ui vertical stripe segment">
        <div class="ui text container">
          <h2 class="ui header">Your slack communities</h2>
          <div class="ui middle aligned selection list">
            <% for(var i=0; i<user.communities.length; i++) { %>
              <a class="item" href=<%= "/communities/" + user.communities[i].slack_subdomain %>>
                <div class="content">
                  <div class="header"><%= user.communities[i].slack_subdomain %></div>
                  <%= user.communities[i].active ? ' active ' : 'inactive' %>
                  <%= user.communities[i].published ? ' published ' : 'unpublished' %>
                </div>
              </a>
            <% } %>
          </div>
          <a class="ui primary button" href='/communities/new'><i class="plus icon"></i>Add a community </a>
        </div>
      </div>
    </div>
  </body>
</html>
