<% include ../partials/head %>

  <body>
    <div class="ui vertical masthead center aligned segment">

      <div class="ui container">
        <div class="ui large secondary menu">

          <a class="header item" href="/">EnterSlack</a>

          <a class="item" href="/integration">Integration</a>

          <div class="right item">
            <a class="ui button" href="/login">Log in</a>
            &nbsp;
            <a class="ui button" href="/signup">Sign Up</a>
          </div>
        </div>
      </div>

      <div class="ui text container">

        <h1 class="ui header">
          Start integration
        </h1>
      </div>
    </div>

    <div class="ui stripe theming vertical segment" style="padding: 100px 0">
      <div class="ui stackable very relaxed grid container">

        <div class="left aligned column">
          <div class="ui grid">
            <div class="sixteen wide column"><h3>Supported intergrations</h3></div>
            <% for(var i=0; i<integrations.length; i++) { %>
            <div class="four wide column"><%= integrations[i].title %></div>
            <div class="four wide column"><%- integrations[i].html %></div>
            <div class="eight wide column"><code><%= integrations[i].html %></code></div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>
