<% include ../partials/head %>

  <body>
      <div class="ui  vertical masthead center aligned segment">
        <div class="ui container">
          <div class="ui large secondary pointing menu">

            <a class="item" href="/">EnterSlack</a>
            <a class="active item" href="/communities">Communities</a>

            <div class="right item">
              <a class="ui button" href="/logout">Log out</a>
            </div>
          </div>
        </div>
      </div>

      <div class="ui vertical stripe segment">
        <div class="ui text container">
          <h2 class="ui header">Add a slack community</h2>

          <a href="http://<%= community.slack_subdomain + ".enterslack.com" %>">Go to the <%= community.slack_subdomain %>'s EnterSlack page</a>
        </div>
      </div>
  </body>
</html>
